*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.container{
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.btn1{
    margin-top: 20px;
padding: 8px 20px;
background-color: #141213;
color: white;
border: 1px solid white;
border-radius: 2px;
margin-left: 1100px;
}
header{
    height: 116px;
}
body{
    background-color: #141213;
}

.background{
    background-image:url(./images/Rectangle\ 1.svg);
    max-width: 1500px;
    height: 689px;
    margin: 0 auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.st{
    position: absolute;
    margin-top: 400px;
}
.st h1{
  font-weight: 700;
  font-size: 52px;
  line-height: 63px;
  margin-left: 192px;
  color: #fff;

}
.st p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    line-height: 28px;
    color: #fff;
    width: 380px;
    margin-top: 16px;
    margin-left: 192px;
}

.section2{
    margin-top: 60px;
}

.back{
    padding-top: 15px;
    display: flex;
    justify-content: center;
    height: 435px;
    width: 400px;
    background-color:#383838 ;
    position: relative;
   
    border: 5px;
    margin-left: 30px;
}
.image h3{
     margin-top: 20px; 
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    position: relative;
    color: #fff;
    margin-left: 10px;
}

.image p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    width: 350px;
    position: relative;
    color: #fff;
    margin-top: 8px;
    margin-left: 10px;
}



.p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 15px;
   
}
.a{
    margin-left: 300px;
    display: flex;
    align-items: center;
    gap: 5px;
    color: #fff;
   
}


.login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
    display: flex;
    margin: 20% auto;

}

.login-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.login-container input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.login-container button {
    width: 100%;
    padding: 10px;
    background-color: #383838;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.login-container button:hover {
    background-color: #383838;
}
